// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Cairo', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #ffed4a;
$indigo: #ffed4a;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #ffed4a;
$cyan: #ffed4a;
